/* Generics */
.btn {
    background-color: var(--btncolor);
    color: white;
    text-align: center;
}

/* colonne (container width /3 * 2) */
.big-col {}

.small-col {}

/* HEADER */

/* MAIN */
.logos {}

/* FOOTER */