/* Generics */
body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.btn {
    display: inline-block;
    background-color: var(--btncolor);
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 0.8rem;
}

.btn:hover {
    filter: opacity(75%);
}

.btn a {
    /* text-decoration: none; */
    color: white;
}

ul {
    list-style: none;
}

/* colonne (container width / 3) */
.col-big {
    width: calc(100% / 3 * 2);
    /* debug */
    /* background-color: bisque; */
    /* height: 350px; */
}

.col-small {
    width: calc(100% / 3);
    /* debug */
    /* background-color: whitesmoke; */
    /* height: 350px; */
}

.white-bg {
    background-color: white;
}

/* HEADER */
header {
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 4rem;
    padding: 0 10px;
    background-color: white;
}

.header-side li:hover {
    border-bottom: 3px solid green;
}

.header-side ul li {
    padding: 0 10px;
    line-height: 4rem;
    border-bottom: 3px solid transparent;
}

#logo {
    padding-right: 1rem;
}

.header-side li>a {
    color: black;
}

.header-side ul,
.header-side li,
.header-side a,
.header-side img {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

/* MAIN */
main {
    padding-top: 4rem;
}

h1 {
    font-size: 4rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    font-weight: 800;
}

.jumbotron {
    padding-top: 3rem;
}

.jumbotron .col-big {
    height: 350px;
}

.scroll-down {
    display: inline-block;
    margin-top: auto;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: black;
    scroll-behavior: smooth;
}

.jumbotron .col-small {
    flex-direction: column;
    align-items: flex-start;
}

#first-section>div:first-of-type {
    padding-bottom: 2rem;
    font-size: 0.9rem;
}

h2 {
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 2rem;
}

.tariffe {
    justify-content: space-between;
}

.col-mini {
    width: 30%;
    margin: 1rem 0;
    border: var(--border);
}

/* piani tariffari */
.col-head {
    text-align: center;
    border-bottom: var(--border);
    padding: 10px 0;
}

.col-content {
    flex-direction: column;
    padding: 1rem;
}

h4 {
    font-size: 1.4rem;
}

.col-content span>a {
    color: blue;
}

.col-content>* {
    margin: .8rem .5rem;
}

.col-content span {
    font-size: 0.9rem;
}

hr {
    margin: 2rem 0;
    width: 20%;
}

::before {
    margin-right: 5px;
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.user::before {
    content: "\f007";
}

.folder::before {
    content: "\f07b";
}

.share::before {
    content: "\f1e0";
}

.team::before {
    content: "\f0c0";
}

.check::before {
    content: "\f00c";
    color: var(--lightblue);
}

.mese {
    color: grey;
}

.circle {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: var(--border);
    margin: 0 5px;
}

.selected-circle {
    border: 5px solid var(--lightblue);
}

.circle.unselected-circle {
    margin-left: 40px;
}

/* TEAM - COLONNA SINGOLA */
.col-single {
    border: var(--border);
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.col-single>.col-content {
    flex-direction: row;
}

.col-single .col-small {
    text-align: center;
}

.col-single .col-big>* {
    margin: 1rem 0;
}

/* PARTNERS */
img.partner {
    max-width: 90%;
}

.partner h3 {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.btn-out {
    display: inline-block;
    border: var(--border);
    margin: 2rem 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.btn-out:hover {
    filter: opacity(75%);
}

/* cards section  */
.row {
    column-gap: 3rem;
}

.row .col-mini {
    border: 0;
    flex-direction: column;
    font-size: .9rem;
}

.row .col-mini h3 {
    margin-bottom: 1rem;
}

.scopri {
    display: block;
    margin-top: -3rem;
    margin-bottom: 5rem;
    color: blue;
}

/* SPONSOR SECTION  */
.logos>section {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.big-sponsor {
    padding: 2.5rem;
    background-color: var(--lightgrey);
    overflow: auto;
}

.big-sponsor img {
    max-width: 50%;
}

.small-sponsor {
    width: calc(100% / 2);
    height: calc(100% / 2);
    align-items: center;
    justify-content: center;
}

.small-sponsor svg {
    scale: .5;
    fill: white;
}

.logo1 {
    background-color: var(--lightgreen);
    border: 0.9rem solid var(--lightgreenborder);
}

.logo2 {
    background-color: var(--brown);
}

.logo3 {
    background-color: var(--lightblue);
}

.logo4 {
    background-color: var(--red);
}

.logo5 {
    background-color: var(--red);
}

.logo6 {
    background-color: var(--acquaj);
}

.logo7 {
    background-color: var(--blue);
}

.logo8 {
    background-color: var(--yellow);
}

/* DROPBOX BUSINESS TRY */
.try.d-flex {
    align-items: center;
    justify-content: center;
}

.jumbo-bgc {
    background-color: var(--acquaj);
}

.btn.white-bg {
    color: black;
}

.col-big>h2 {
    margin: 6rem 0;
}

.col-small.try .btn {
    padding: 8px 35px;
}

/* DOMANDE FREQUENTI */
.faq {
    font-weight: bold;
    padding: 3rem 0;
    border-bottom: var(--border);
    border-top: var(--border);
    position: relative;
    font-size: .9rem;
}

.hidden-par {
    margin-top: 2rem;
    display: none;
    font-weight: normal;
}

.faq:hover .hidden-par {
    display: block;
}

.rotate {
    text-align: end;
    display: block;
    position: absolute;
    right: 2%;
    top: 50px;
}

.faq:hover .rotate {
    transform: rotateX(180deg);
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding-top: 4rem;
    line-height: 1.8rem;
}

.col-footer {
    width: calc(100% / 5);
    padding-bottom: 4rem;
}

footer ul li:first-child {
    font-weight: bold;
    padding-bottom: 1rem;
}

footer hr {
    width: 8%;
}

.col-footer a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.lenguage {
    font-size: .7rem;
}