/* Variables */
:root {
	--btncolor: #197aff;
	--acquaj: #b4d0e7;
	--lightgrey: #f5f5f5;
	--brown: #61082b;
	--lightgreen: #a2d39b;
	--lightgreenborder: #d1e9cd;
	--lightblue: #0093ce;
	--red: #ff1c1c;
	--blue: #0d2481;
	--yellow: #ffd830;
	--border: 1px solid #c0c0c0;
	--paddings: 2px 10px;
}

.brown {
	color: var(--brown);
}

.white-bg {
	background-color: white;
}

/* Utils */
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container-small {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex {
	display: flex;
}